html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background: #fafafa;
  color: #7a7a7a;
  font-family: "Open Sans", sans-serif; }

.container {
  margin: auto;
  max-width: 1024px;
  padding: 16px 0 8px;
  text-align: center;
  width: 90.625%; }

.flex {
  display: flex; }

.header-nav li a:hover, .footer-nav a:hover {
  border-bottom: 2px solid #7a7a7a; }

.divider {
  background: rgba(122, 122, 122, 0.5);
  height: 2px;
  margin: auto;
  max-width: 1024px;
  width: 95%; }

h1 {
  font-size: 2.441em;
  font-weight: 300; }

h2 {
  font-size: 1.953em;
  font-weight: 300; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

a {
  color: #fff; }

.section-header {
  margin: 20px 0 36px; }

header .flex {
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    header .flex {
      align-items: center;
      flex-direction: row;
      justify-content: space-between; } }

header .name {
  padding: 48px 0; }
  @media screen and (min-width: 768px) {
    header .name {
      padding: 12px 0 24px; } }
  header .name a {
    color: #7a7a7a; }

.main-nav {
  padding: 16px 0; }
  @media screen and (min-width: 768px) {
    .main-nav {
      margin: auto;
      width: 360px; } }
  @media screen and (min-width: 1024px) {
    .main-nav {
      margin: 0;
      padding: 0;
      width: 240px; } }

.header-nav li {
  width: 100%; }
  .header-nav li:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .header-nav li {
      width: 33%; } }
  .header-nav li a {
    border: 2px solid rgba(122, 122, 122, 0.5);
    padding: 12px;
    width: 240px; }
    @media screen and (min-width: 768px) {
      .header-nav li a {
        border: 0;
        border-bottom: 2px solid transparent;
        color: #7a7a7a;
        padding: 0;
        transition: .5s;
        width: 68px; } }

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: space-between; } }

.info .flex {
  flex-direction: column; }
  .info .flex .info-text {
    line-height: 1.4;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .info .flex .info-text {
        margin-right: 20px;
        text-align: left;
        width: 60%; } }
  @media screen and (min-width: 768px) {
    .info .flex {
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between; } }

.info .profile-image {
  padding: 16px 0; }
  .info .profile-image img {
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 20, 0, 0.25);
    display: block;
    margin: auto;
    max-width: 367px;
    width: 100%; }

.portfolio {
  background: #fff; }
  .portfolio .flex {
    color: #46ae6b;
    flex-flow: column; }

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media screen and (min-width: 768px) {
    ul li {
      float: left;
      padding: 0 4px;
      width: 50%; } }
  @media screen and (min-width: 768px) {
    ul li {
      display: inline-block;
      width: 33%; } }

.project img {
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 1280px;
  width: 100%; }

.project h3 {
  font-size: 1.35em;
  font-weight: 300;
  margin-bottom: 8px; }

.project p {
  color: #7a7a7a;
  line-height: 1.5;
  margin-bottom: 32px; }

h2 {
  color: #46ae6b; }

p {
  margin-bottom: 20px; }

.phone,
.email {
  display: flex;
  width: 220px;
  margin: auto;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center; }
  .phone p,
  .email p {
    margin: 0; }
    .phone p span,
    .email p span {
      font-weight: 300; }

footer .flex {
  justify-content: space-between; }

footer .mobile a {
  color: #7a7a7a; }

@media screen and (min-width: 768px) {
  footer .mobile {
    display: none; } }

.footer-nav {
  display: none; }
  .footer-nav a {
    border: 0;
    padding: 0;
    width: 120px; }
    @media screen and (min-width: 768px) {
      .footer-nav a {
        border-bottom: 2px solid transparent;
        color: #7a7a7a;
        margin-left: 24px;
        transition: .5s;
        width: auto; } }
  @media screen and (min-width: 768px) {
    .footer-nav {
      display: flex;
      justify-content: space-around; }
      .footer-nav li {
        width: 33%; } }
