extends ./layout.jade

block content
  include ./includes/header.jade
  include ./includes/info.jade
  include ./includes/portfolio.jade
  include ./includes/contact.jade
  include ./includes/footer.jade
