@mixin contact {
  display: flex;
  width: 220px;
  margin: auto;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  p {
    span {
      font-weight: 300;
    }
    margin: 0
  }
}
h2 {
  color: $green;
}
p {
  margin-bottom: 20px;
}

.phone, .email {
  @include contact;
}
