footer {
  .flex {
    justify-content: space-between;
    p {
      &.mobile {
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
    ul {
      display: none;
      li {
        a {
          color: #7a7a7a;
          display: inline-block;

          margin-bottom: 12px;
          border: none;
          padding: 0;
          width: 120px;
          @media screen and (min-width: 768px) {
            width: auto;
            margin-left: 24px;
            border-bottom: 2px solid transparent;
            transition: .5s;
          }
          @media screen and (min-width: 1025px) {

            &:hover {
              border-bottom: 2px solid #7a7a7a;
            }

          }
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;

      }

    }
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }


}
