.info {
  .flex {
    flex-direction: column;
    .profile-image {
      padding: 16px 0;
      img {
        display: block;
        border: 2px solid #ffffff;
        width: 100%;
        max-width: 367px;
        margin: auto;
        box-shadow: 0px 0px 8px rgba(0, 20, 0, .25);
        border-radius: 4px;
      }
    }
    .info-text {
      line-height: 1.4;
      margin-bottom: 20px;
      @media screen and (min-width:768px) {
        text-align: left;
        width: 60%;
      }
    }
    @media screen and (min-width:768px) {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
}
