.contact
  .container
    h2.section-header Contact
    p If you wanna talk, hit me up. Peace.
    .phone
      p 
        i(class="fa  fa-mobile fa-2x") 
        | 555-555-5555
    .email
      p
        i(class="fa  fa-envelope fa")
        | kelseythej@gmail.com
  .divider
