mixin navi(...links)
  ul
    each link in links
      li
        a(href=link.toLowerCase() + ".html")= link
footer
  .container.flex
    p Kelsey Jackson
    p.mobile
      a(href="index.html") Back to Top
    +navi('Home','Portfolio', 'Contact')
      
