.info
  .container.flex
    .profile-image
      img(src="images/me_kj_2.png" alt="KJ's Profile Image")
    .info-text Hi! I'm a full-stack designer who loves responsive design, Sneakers and Doctor&nbsp;Who. UX, Design & Development are passions of mine and below you'll find many of the projects I've built throughout my career.
  
