mixin proj(project)
      img(src="images/portfolio-" + project + ".png" alt=project)
.portfolio
  .container.flex
    h2.section-header Portfolio
    ul
      li
        .project
          +proj(1)
          h3 Responsive Site
          p Loved showing my responsive skills for this.
      li
        .project
          +proj(2)
          h3 Search Page
          p Maybe I can be Google one day
      li
        .project
          +proj(3)
          h3 Web App Login
          p Sanitized, you know what it means
      li
        .project
          +proj(4)
          h3 Web Form
          p RegEx Love
      li
        .project
          +proj(5)
          h3 Flickr Project
          p Lots of Pictures
      li
        .project
          +proj(6)
          h3 Google Map API
          p Where?
      li
        .project
          +proj(7)
          h3 Video Player
          p Press Play
      li
        .project
          +proj(8)
          h3 Youtube
          p Press Play...Again
      li
        .project
          +proj(9)
          h3 Apartment Finder
          p Is that a pool?
      //- li
      //-   .project
      //-     +proj(10)
      //-     h3 Project Name
      //-     p project text
      //- li
      //-   .project
      //-     +proj(11)
      //-     h3 Project Name
      //-     p project text
      //- li
      //-   .project
      //-     +proj(12)
      //-     h3 Project Name
      //-     p project text
      //- li
      //-   .project
      //-     +proj(13)
      //-     h3 Project Name
      //-     p project text
      //- li
      //-   .project
      //-     +proj(14)
      //-     h3 Project Name
      //-     p project text
      //- li
      //-   .project
      //-     +proj(15)
      //-     h3 Project Name
      //-     p project text
  
