// Base Colors
$alabaster: #fafafa;
$chateau-green: #46ae6b;
$boulder: #7a7a7a;
$white: #fff;
$transparent: transparent;
$deep-fir: #001400;

//Font Family
$font-family: 'Open Sans', sans-serif;

//font-sizes
$h1: 2.441em;
$h2: 1.953em;
$h3: 1.563em;
$h4: 1.25em;

// Media Queries
$brkpoint-small: 1px;
$brkpoint-medium: 768px;
$brkpoint-lrg: 1024px;

// Other
$transition: .5s;
$title-weight: 300;
$container-padding: 16px 0 8px;
